*{
    background-color: antiquewhite;
}

.container{
    width: 75%;
    background-color: blueviolet;
    margin-top: 50px;
}
.rectangle{
    height: 100px;
    width: 100px;
    background-color: brown;
    margin: .5em;
}