
/* FOR GUIDES FOR CSS PLS GO TO SOURCE CSS */

* {
  margin: 2;
  padding: 2;
  box-sizing: border-box;
}

.navbar {
  background-color: #5e5341; /* Dark background */
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  font-weight: bold;
}

.logo {
  font-size: 40px;
  font-weight: bolder;
  font-family: cursive;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 3rem; 
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 40px;
  font-weight: bolder;
  font-family: cursive;
}

.nav-links a:hover {
  color: #f0a500; /* Hover effect */
}
img{
  width: 1000px;

  margin-left: 400px;
  margin-bottom: 100px;
  image-resolution: 4k;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
}
p{
  font-size: 30px;
  font-style: italic;
}
h2{
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}
body{
  background-color: rgb(255, 236, 172);
}